In [ ]:
list -- changeable


tuple1 = (1,2,3,4,5)

In [1]:
tuple1 = (1,2,3,4,5)
print(tuple1[2])

3

In [4]:
txt = 'hello world'
print(txt[0:5])

hello

In [5]:
tuple1 = (1,2,3,4,5)
x = list(tuple1)
x[2] = 'orange'
tuple1 = tuple(x)
tuple1

(1, 2, 'orange', 4, 5)

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict['brand']

'Ford'

In [8]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [9]:
for i in thisdict:
    print(thisdict[i])

Ford
Mustang
1964

In [10]:
for i,j in thisdict.items():
    print(i,j)

brand Ford
model Mustang
year 1964

In [ ]:
txt = ""

In [11]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [12]:
print(myfamily['child2']['name'])

Tobias

In [13]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

subarray = arr[3:8]

subarray_sum = sum(subarray)
subarray_sum

30

In [14]:
from itertools import groupby

lst = ["A", "A", "A", "A", "B", "B", "B", "C", "C"]

output = ''.join(f"{len(list(group))}{key}" for key,group in groupby(lst))

print(output)

4A3B2C

In [ ]:
Input Description:
You are given a number ‘n’,Then next line contains n space separated numbers.

Output Description:
Maximum sum value produced by the increasing sub array of size 'n'

Sample Input :
6
2 1 4 7 3 6

Sample Output :
12

In [18]:
def max_increasing_subarray_sum(arr):
    max_sum = current_sum = arr[0]

    for i in range(1, len(arr)):
        current_sum = current_sum + arr[i] if arr[i] > arr[i - 1] else arr[i]
        max_sum = max(max_sum, current_sum)

    return max_sum


n = int(input())
arr = list(map(int, input().split()))


print(max_increasing_subarray_sum(arr))

6
2 1 4 7 3 6
12

In [ ]:
The function starts with max_sum = 2 and current_sum = 2.

As it iterates through the array:

At i = 1: arr[1] = 1, current_sum resets to 1.
At i = 2: arr[2] = 4, current_sum becomes 5 (1 + 4).
At i = 3: arr[3] = 7, current_sum becomes 12 (1 + 4 + 7).
At i = 4: arr[4] = 3, current_sum resets to 3.
At i = 5: arr[5] = 6, current_sum becomes 9 (3 + 6).
    
    
Finally, max_sum is 12, which is returned and printed.

In [20]:
numbers = (3, 1, 7, 18, 9)

# initialize min and max with 1st element

min_num = max_num = numbers[0]

for num in numbers:
    if num < min_num:
        min_num = num  # update min if a small num
    if num > max_num:
        max_num = num
        
#print((max_num,min_num))


print((numbers[0],numbers[1]))

(3, 1)

In [21]:
print((numbers[0], numbers[1]))

(3, 1)

In [22]:
print((numbers[-2], numbers[-1]))

(18, 9)

In [23]:
k = 7
for i in range(k): # outer loop
    for j in range(k):
        if (j == 0 and (i > 0 and i < k - 1)) or (i == 0 and j > 0) or (i == k // 2 and j >= k // 2) or (i == k - 1 and j > 0) or (j == k - 1 and i >= k // 2 and i < k - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

  * * * * * *
*
*
*     * * * *
*           *
*           *
  * * * * * *

In [24]:
k = 9
for i in range(k):
    for j in range(k):
        if (j == 0 and (i > 0 and i < k - 1)) or (i == 0 and j > 0) or (i == k // 2 and j >= k // 2) or (i == k - 1 and j > 0) or (j == k - 1 and i >= k // 2 and i < k - 1):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

  * * * * * * * *
*
*
*
*       * * * * *
*               *
*               *
*               *
  * * * * * * * *

In [27]:
lst = ['Python', 'is', 'Easy']

from random import shuffle

shuffle(lst)
print(lst)

['is', 'Easy', 'Python']

In [28]:
lst = ['Python', 'is', 'Easy']

for _ in range(3):
    shuffle(lst)
    print(lst)

['Python', 'is', 'Easy']
['Easy', 'is', 'Python']
['Easy', 'is', 'Python']

In [29]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6] 

res_lst = [] 
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i]) 
print(res_lst)

[5, 7, 9]